@import url('https://fonts.googleapis.com/css2?family=Abel&family=Roboto:wght@100;300;500&family=Source+Sans+Pro:wght@600&display=swap');

* {
  margin: 0;
  font-family: 'Roboto', sans-serif;
}

.absolute {
  position: absolute;
}
