:root {
  --whatsapp: #25D366;
  --instagram: #e1306c;
  --gmail: #ea4335;
  --main-color: #363739;
  --first-value: 0.3rem;
  --second-value: 2rem;
}

/* Home: positioning and design of containers */
.icon {
  color: #111;
  text-decoration: none;
  padding-right: 30px;
  padding-top: 20px;
}

.social-container {
  margin-top: -100px;
  margin-left: 210px;
  display: grid;
  grid-auto-flow: column;
  justify-content: start;
}

.social-img {
  display: flex;
  align-items: center;
  justify-content: center;
  width: var(--second-value);
  height: var(--second-value);
  border-radius: 50%;
}

.fig-whatsapp {
  background-image: url('../assets/whatsapp.svg');
  border-radius: 50%;
}

.fig-instagram {
  background-image: url('../assets/instagram.svg');
  border-radius: 50%;
}

.fig-gmail {
  background-image: url('../assets/Gmail.svg');
  border-radius: 50%;
}

.fig {
  background-repeat: no-repeat;
  width: var(--second-value);
  height: var(--second-value);
  background-position: center;
}

.fig {
  filter: invert(100%) sepia(5%) saturate(0%) hue-rotate(303deg)
    brightness(106%) contrast(106%);
}

.colorsocialW {
  background-color: var(--whatsapp);
}

.colorsocialI {
  background-color: var(--instagram);
}

.colorsocialG {
  background-color: var(--gmail);
}

